.h1 {
	 font-weight: 600;
}


body {
    animation: color-change 6s infinite alternate;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 0;
}
/* Añadir una capa con opacidad al fondo */
body::before  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); /* Color oscuro con opacidad */
    z-index: -1; /* Asegura que se quede detrás del contenido */
}

@keyframes color-change {
    0% {
        background-color: #282c34;
    }
    25% {
        background-color: #3d3d3d;
    }
    50% {
        background-color: #4d4d4d;
    }
    75% {
        background-color: #5d5d5d;
    }
    100% {
        background-color: #666666;
    }
}






 .company-name {
	 font: normal 36px "Cookie", cursive;
	 font-size: 50px;
	 font-weight: bold;
	 margin-bottom: 10px;
	 color: #ffffff;
	 height: 1.2em;
	 line-height: 1.2em;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 white-space: nowrap;
	 overflow: hidden;
}
 main {
	 display: flex;
	 height: 80vh;
}
 .left-panel {
	 flex: 0 0 25%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
}
 .right-panel {
	 flex: 0 0 75%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .right-panel .container {
	 width: 100%;
	 max-width: 500px;
	 padding: 20px;
}
 .container {
	 background-color: #fff;
	 border-radius: 30px;
	 box-shadow: 0 5px 15px rgba(0,0,0,0.35);
	 position: relative;
	 overflow: hidden;
	 width: 768px;
	 max-width: 100%;
	 min-height: 430px;
	 display: flex;
}
 .container p {
	 font-size: 14px;
	 line-height: 20px;
	 letter-spacing: 0.3px;
	 margin: 20px 0;
}
 .container span {
	 font-size: 12px;
}
 .container a {
	 color: #000000;
	 font-size: 13px;
	 text-decoration: none;
	 margin: 15px 0 10px;
}
 .container button {
	 background-color: #000000;
	 color: #ffffff;
	 font-size: 12px;
	 padding: 10px 45px;
	 border: 1px solid transparent;
	 border-radius: 8px;
	 font-weight: 600;
	 letter-spacing: 0.5px;
	 text-transform: uppercase;
	 margin-top: 10px;
	 cursor: pointer;
}
 .container button.hidden {
	 background-color: transparent;
	 border-color: #fff;
}
 .container form {
	 background-color: #ffffff;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-direction: column;
	 padding: 0 40px;
	 height: 100%;
}
 .container input {
	 background-color: #eee;
	 border: none;
	 margin: 8px 0;
	 padding: 10px 15px;
	 font-size: 13px;
	 border-radius: 8px;
	 width: 100%;
	 outline: none;
}
 .form-container {
	 flex: 1;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 transition: all 0.6s ease-in-out;
	 height: 100%;
}
 .sign-in {
	 z-index: 2;
}
 .container.active .sign-in {
	 transform: translateX(100%);
}
 .sign-up {
	 opacity: 0;
	 z-index: 1;
}
 .container.active .sign-up {
	 opacity: 1;
	 z-index: 5;
	 animation: move 0.6s;
}
 @keyframes move {
	 0%, 49.99% {
		 opacity: 0;
		 z-index: 1;
	}
	 50%, 100% {
		 opacity: 1;
		 z-index: 5;
	}
}
 .hidden {
	 display: none;
}
 .social-icons {
	 margin: 20px 0;
}
 .social-icons a {
	 border: 1px solid #ccc;
	 border-radius: 20%;
	 display: inline-flex;
	 justify-content: center;
	 align-items: center;
	 margin: 0 3px;
	 width: 40px;
	 height: 40px;
}
 .name-container {
	 display: flex;
	 justify-content: space-between;
	 margin: 8px 0;
}
 .name-input, .surname-input {
	 flex: 1;
	 margin-right: 12px;
	 width: 40%;
}
 .surname-input {
	 margin-right: 0;
}
 .gif {
	 padding: 30px;
	 width: 290px;
	 height: 270px;
}
 @media (max-width: 768px) {
	 main {
		 display: flex;
		 flex-direction: column;
		 padding: 20px;
		 margin-bottom: 40px;
		 min-height: calc(0vh);
	}
	 .left-panel {
		 order: 1;
		 width: 100%;
		 margin-bottom: 20px;
	}
	 .right-panel {
		 order: 2;
		 width: 100%;
	}
	 .gif {
		 width: 200px;
		 height: auto;
	}
	 .form-container {
		 width: 90%;
		 margin: 0 auto;
	}
	 h2.company-name {
		 font-size: 24px;
	}
}

/* Modal fondo */
    .modal {
        display: none; /* Oculto por defecto */
        position: fixed;
        z-index: 9999; /* Asegura que el modal se superponga a otros elementos */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    }

    /* Contenido del modal */
    .modal-content {
        background-color: #fff;
        margin: 15% auto; /* Centrado vertical y horizontal */
        padding: 20px;
        border-radius: 10px;
        width: 30%; /* Ancho del modal */
        text-align: center;
        z-index: 10000; /* Asegura que el contenido se muestre sobre el fondo */
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra para resaltar */
    }

    /* Botón de cerrar */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    .form-control {
                position: relative;
                padding: 10px;
                padding-left: 10px;
            }
            .form-control::placeholder {
                color: #aaa;
            }

            .form-control:focus::placeholder {
                color: transparent;
            }

.modal {
        transition: opacity 0.3s ease;
    }

    .modal-content {
        animation: scaleUp 0.3s ease;
    }

    @keyframes scaleUp {
        from {
            transform: scale(0.8);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
