.nosotros-section {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.nosotros-img {
  max-width: 100%;         
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}
